/*--------------------(  Default CSS  )--------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* destroy Scrollbar */
::-webkit-scrollbar {
    display: none;
}


body {
    height: 100svh;
}

/* Sample Fonts */
@font-face {
    font-family: "poppins-light";
    src: url("../fonts/Poppins-Light.ttf");
  }
  
  @font-face {
    font-family: "lora";
    src: url("../fonts/Lora-VariableFont_wght.ttf");
  }

  @font-face {
    font-family: "poppins-bold";
    src: url("../fonts/Poppins-Bold.ttf");
  }